*node_modules
.idea/
deploy
*.zip
.DS_Store
*/.DS_Store
map
build
temp
.cache
*.bak
._*
.AppleDouble
.LSOverride
*.log
.Trashes
Desktop.ini
Thumbs.db
token.config.json
.vscode
shortcut
shortcut.sh
run
dist
**/*/release
release
.history
yarn.lock
unused-files.json
.webpack_cache
